
/* Start Sprite Master CSS */
.email,
.flickr,
.github,
.gplus,
.rss,
.twitter {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('../images/all-sns-icons.png');
}
.email:hover
{
	background-position:-5px -5px;
	width:48px;
	height:48px;
}
.email
{
	background-position:-58px -5px;
	width:48px;
	height:48px;
}
.flickr:hover
{
	background-position:-111px -5px;
	width:48px;
	height:48px;
}
.flickr
{
	background-position:-164px -5px;
	width:48px;
	height:48px;
}
.github:hover
{
	background-position:-5px -58px;
	width:48px;
	height:48px;
}
.github
{
	background-position:-58px -58px;
	width:48px;
	height:48px;
}
.gplus:hover
{
	background-position:-111px -58px;
	width:48px;
	height:48px;
}
.gplus
{
	background-position:-164px -58px;
	width:48px;
	height:48px;
}
.rss:hover
{
	background-position:-5px -111px;
	width:48px;
	height:48px;
}
.rss
{
	background-position:-58px -111px;
	width:48px;
	height:48px;
}
.twitter:hover
{
	background-position:-111px -111px;
	width:48px;
	height:48px;
}
.twitter
{
	background-position:-164px -111px;
	width:48px;
	height:48px;
}
/* End Sprite Master CSS */
